html {
  box-sizing: border-box;
  font-family: Georgia;
  background-color: #f0eee8;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #dcd4cd;
  border: 3px solid #9a816d;
  border-radius: 8px;
}

.link-card h2 {
  font-family: Dosis, sans-serif;
  font-weight: bold;
  margin: 0 0 1rem;
}
main {
  font-size: 1rem;
  padding: 1rem;
  padding-bottom: 0;
  color: #512200;
  display: block;
}

dl {
  display: block;
  overflow: hidden;
  border-top: 2px solid #9a816d;
  border-bottom: 2px solid #9a816d;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: .875rem;
  margin-bottom: 0;
}

dt {
  float: left;
  min-width: 7.5em;

}

dd {
  float: left;
  font-style: italic;
  display: inline-block;
}
div {
  text-align: center;
  margin: 0;
}

div p {
  display:inline-block;
  font-family: Dosis, sans-serif;
  font-size: 1.125rem;
  font-weight: bold;
  background-color: #785439;
  color: #f0eee8;
  text-decoration: none;
  border: 2px solid #785439;
  border-radius: 8px;
  padding: .3rem;
}

.btn {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.link-card:hover {
  background-color: #cabdb2;
}
